<?xml version="1.0"?>
<launch>
	<include file="$(find sq_lidar_conversions)/launch/sq_lidar_convertor.launch" />
	<node pkg="sq_height_map" type="sq_heightmap_node" name="sq_heightmap_node" />
	<node pkg="pcl_tutorials" type="cluster_test" name="cluster_test" />
		<param name="MIN_SIZE" value="0.05f" />
		<param name="MAX_SIZE" value="1.2f" />

		<node pkg="tracking" type="obstacle_kalmanfilter" name="obstacle_kalmanfilter" output="screen" />

	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/amsl/.rviz/obstacle_tracking.rviz" />
</launch>
	

